<article *ngIf="article" [id]="article.id" class="article-card">
  <div class="metadata">
    <img class="avatar" [appGravatar]="article.user.email" [size]="24" />
    <a class="user-link" [routerLink]="['/', 'users', article.user.userName]">{{ article.user.userName }}</a>
    <span>{{ getRelativeDate(article) }}</span>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <h1><a class="article-header__link" [routerLink]="['/', 'article', article.id]"><span class="mat-h1">{{ article.title }}</span></a></h1>
    <markdown [data]="article.content"></markdown>
  </div>
  <mat-divider></mat-divider>
  <div class="card-footer">
    <div>
      <button mat-icon-button [class.liked]="true" (click)="like()"><mat-icon>thumb_up</mat-icon></button>
      <span>123</span>
    </div>
    <div>
      <button mat-icon-button><mat-icon>chat</mat-icon></button>
      <span>2</span>
    </div>
    <div class="spacer"></div>
    <button mat-icon-button [class.bookmarked]="true" (click)="bookmark()"><mat-icon>bookmark</mat-icon></button>
    <button mat-icon-button (click)="share()" matTooltip="Поделиться"><mat-icon>share</mat-icon></button>
  </div>
</article>
