<article *ngIf="article" [id]="article.id" class="article-card">
  <div class="metadata">
    <img class="avatar" [appGravatar]="article.user.email" [size]="24" />
    <a class="user-link" [routerLink]="['/', 'users', article.user.userName]">{{ article.user.userName }}</a>
    <span>{{ getRelativeDate(article) }}</span>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <h1>
      <a class="article-header__link" [routerLink]="['/', 'article', article.id]"
        ><span class="mat-h1">{{ article.title }}</span></a
      >
    </h1>
    <markdown [data]="article.content"></markdown>
    <a mat-stroked-button [routerLink]="['/', 'article', article.id]">Открыть статью <mat-icon>chevron_right</mat-icon></a>
  </div>
  <mat-divider></mat-divider>
  <div class="card-footer">
    <div *appAuth>
      <button mat-icon-button [class.liked]="article.userState.userLikes" (click)="like()">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <span>{{ article.stats.likes }}</span>
    </div>
    <div class="spacer"></div>
    <button mat-icon-button [class.bookmarked]="article.userState.userBookmark" (click)="bookmark()" *appAuth>
      <mat-icon>bookmark</mat-icon>
    </button>
    <button mat-icon-button (click)="share()" matTooltip="Поделиться"><mat-icon>share</mat-icon></button>
  </div>
</article>
