@import './material';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.mat-button-wrapper > .mat-icon + * {
  margin-left: 0.5rem;
}

.mat-button-wrapper > * + .mat-icon {
  margin-left: 0.5rem;
}
