:host {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.app-toolbar {
  z-index: 1000;

  .title {
    color: inherit;
    text-decoration: inherit;
  }

  .avatar {
    margin: 0 8px;
  }
}

.user-menu-header {
  padding: 0 14px;
  height: 24px;
  text-align: center;
  font-size: 1.1em;
}

.drawer-container {
  flex: 1 1 auto;
}

.drawer {
  min-width: 200px;
}
