:host {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 800px;
  margin: auto;
  padding: 14px 0;
}

.account-form {
  display: flex;
  flex-direction: column;

  .field {
    width: 300px;
    margin-right: 14px;
  }
}
