<div class="articles">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Все подряд</mat-card-title>
      <mat-card-subtitle>Все свежие статьи из всех категорий.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <main *ngIf="articles$ | async as articles">
    <app-article-list [articles]="articles?.items"></app-article-list>
    <mat-card *ngIf="articles.totalItems > articles.pageSize">
      <mat-paginator
        [length]="articles.totalItems"
        [pageIndex]="articles.pageIndex"
        [pageSize]="articles.pageSize"
        [pageSizeOptions]="[articles.pageSize]"
        (page)="_onPageChange($event)"
      >
      </mat-paginator>
    </mat-card>
  </main>
</div>
