<mat-card class="full-width">
  <mat-card-header>
    <mat-card-title>Регистрация</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="register-form" [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Логин</mat-label>
        <input matInput formControlName="userName" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="flex">
    <a mat-icon-button routerLink="/" matTooltip="Главную"><mat-icon>home</mat-icon></a>
    <div class="spacer"></div>
    <button mat-stroked-button color="accent" (click)="submit()" [disabled]="form.invalid">Зарегистрироваться</button>
  </mat-card-actions>
</mat-card>

<mat-card class="login-card full-width">
  <p>Уже есть аккаунт?</p>
  <a mat-button routerLink="/login" color="accent">Войти</a>
</mat-card>
